.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #ffffff40;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 4px;
  height: 4px;
}

.swiper-pagination {
  height: 16px;
  width: 50px !important;
  left: 46% !important;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
